<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="filipesilvestre.rider">

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      tools:replace="android:icon"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:largeHeap="true"
      android:theme="@style/AppTheme">
    <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
      <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ee1f195560047f5b5d63a8174fb6529714a7fc28" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>